* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    height: 150px;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

nav li {
    text-align: center;
    padding: 20px 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.logo {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 70px;
    cursor: pointer;
    margin: 400px;
    padding-right: 150px;
}

.logo:hover {
    text-decoration: none;
}

.bag {
    height: 30px;
    cursor: pointer;
}

video {
    width: 100%;
    height: 100%;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    margin: 100px;
}

.images {
    width: 400px;
}

.featuredkicks {
    font-size: 15px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
}

.featuredkicks:hover {
    cursor: pointer;
    animation: pulse;
    animation-duration: 2s;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.btn {
    font-size: 15px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
    border: none;
    padding: 8px;
    margin: 10px;
    border-radius: 3px;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

footer {
    background-color: black;
    height: 100px;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

footer li {
    text-align: center;
    padding: 35px;
}

footer a {
    text-decoration: none;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* For max-width: 768px */
@media (max-width: 768px) {

    nav {
        width: 100%;
        height: 100%;
    }
    
    nav ul {
        flex-direction: column;
        height: auto;
    }
    nav li {
        padding: 10px 0;
    }
    .logo {
        margin: 20px auto;
        padding: 0;
        font-size: 40px; /* Adjusted font size */
    }

    .title {
        margin: 50px 0;
        font-size: 40px;
    }
    .box {
        grid-template-columns: repeat(1, 1fr);
        margin: 50px 0;
    }
    .images {
        width: 100%;
    }

    video {
        width: 430px;
    }

    footer a {
        font-size: 10px;
    }
    footer li {
        padding: 20px 0;
    }
}

@media (min-width:768px) and (max-width: 1024px) {
    nav {
        height: 100%;
    }
    nav ul {
        flex-direction: column;
        height: auto;
    }
    nav li {
        padding: 10px 0;
    }

    .logo {
        font-size: 40px;
    }

    video {
        width: 768px;
    }

    .title {
        margin: 70px 0;
    }

    .box {
        grid-template-columns: repeat(1, 1fr);
        margin: 50px 0;
    }

    .featuredkicks{
        width: 600px;
        height: 550px;
        margin-left: 70px;
    }

    .images {
        width: 500px;
        height: 400px;
    }
    footer li {
        padding: 30px 0;
    }
}